/* Small devices (phones, <= 700px) */
@media only screen and (max-width: 700px) {
  .header {
    height: 10vh;
    width: 99vw;
    /* padding: 20px 10px 0px 10px; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2em;
    position: sticky;
    top: 0;
  }

  .menuClosed button {
    margin: 0 0.5vw 1vw 0;
    border: none;
    height: 1.75em;
    width: 1.75em;
    background-color: var(--blackish);
    cursor: pointer;
    clip-path: polygon(
      0% 5%,
      100% 5%,
      100% 25%,
      0% 25%,
      0% 40%,
      100% 40%,
      100% 60%,
      0% 60%,
      0% 75%,
      100% 75%,
      100% 95%,
      0% 95%
    );
    transition: 0.2s ease-in-out;
  }

  .menuOpen button {
    cursor: pointer;
    margin: 0 0.5vw 1vw 0;
    height: 1.75em;
    width: 1.75em;
    background-color: var(--blackish);
    border: none;
    clip-path: polygon(
      20% 0%,
      0% 20%,
      30% 50%,
      0% 80%,
      20% 100%,
      50% 70%,
      80% 100%,
      100% 80%,
      70% 50%,
      100% 20%,
      80% 0%,
      50% 30%
    );
    transition: 0.2s ease-in-out;
  }

  .hamburger ul {
    position: absolute;
    right: 10vw;
    background-color: var(--gray);
    padding: 3.5vw;
    border: 0.5vh var(--blackish) solid;
    border-radius: 70%/60%;
    font-size: 0.75em;
    text-align: center;
  }

  .hamburger li {
    list-style: none;
    padding: 1vw;
  }

  .navLinks {
    display: none;
  }
}

/* Large devices (laptops, desktops, screens > 700px) */
@media only screen and (min-width: 701px) {
  .menuOpen,
  .menuClosed {
    display: none;
  }

  .navLinks {
    height: 10vh;
    width: 99vw;
    padding: 20px 10px 0px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2em;
    position: sticky;
    top: 0;
  }

  .header-link {
    color: var(--blackish);
  }

  .header-link:hover {
    background-color: var(--blackish);
    color: var(--gray);
  }

  .active {
    border-bottom: 5px var(--orange) solid;
  }
}
