.Tech {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Tech img {
  width: 10vw;
  height: 20vh;
}

.tech-section {
  display: flex;
  justify-content: space-evenly;
  width: 70vw;
  background-color: black;
  color: var(--white);
}

.tech-left,
.tech-center,
.tech-right {
  display: flex;
  flex-direction: column;
}

.tech-header {
  font-size: 1.5em;
}
