/* Small devices (phones, <= 700px) */
@media only screen and (max-width: 700px) {
  .tech img {
    display: none;
  }

  .tech-section {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 0 10px 0;
    padding: 0 0 0 5px;
    background-color: black;
    color: var(--gray);
  }
}

/* Large devices (laptops, desktops, screens > 700px) */
@media only screen and (min-width: 701px) {
  .tech {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .tech img {
    width: 10vw;
    height: 20vh;
  }

  .tech-section {
    display: flex;
    justify-content: space-evenly;
    width: 70vw;
    background-color: var(--blackish);
    color: var(--gray);
    margin: 0 7px 7px 7px;
    border-radius: 5px;
  }
}

.tech-left,
.tech-center,
.tech-right {
  display: flex;
  flex-direction: column;
}

.tech-container {
  margin: 15px;
}

.tech-header {
  font-size: 1.5em;
  border-bottom: 1px solid white;
}
