.tech {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
  background-color: var(--blue);
  color: var(--white);
}

.tech-left,
.tech-center,
.tech-right {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}
