.About {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bio {
  padding: 20px;
  line-height: 2em;
  font-size: 1.25em;
  text-align: center;
}
.main-image {
  width: 90vw;
}

.strengths {
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
}

.strengths-item {
  border: black solid 1px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
