.About {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bio {
  padding: 20px;
  line-height: 2em;
  font-size: 1.25em;
  text-align: center;
  margin: 10px 10px 75px 10px;
}
.main-image {
  width: 90vw;
  margin: 50px 10px 10px 10px;
}
