.projectdetail {
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: var(--blue) 0.5px solid;
}

.projectdetail-item_image-link {
  text-align: center;
}

.projectdetail-item_name {
  text-align: center;
  margin: 10px 0px 5px 0px;
}

.projectdetail-item_tech {
  margin: 0px;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
}

.projectdetail-item_description {
  line-height: 1.25em;
  margin: 20px 20px 5px 20px;
}

.projectdetail-item_list {
  list-style-type: '\2728';
  line-height: 1.25em;
}

.projectdetail-item_links {
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.projectdetail-item_site:visited {
  color: var(--orange);
}

/* Small devices (phones, <= 700px) */
@media only screen and (max-width: 700px) {
  .projectdetail-item_image-link:hover {
    cursor: pointer;
  }

  .projectdetail-item_site {
    text-align: center;
    font-size: 1.25em;
    color: var(--blue);
  }

  .projectdetail-item_image {
    height: 12vh;
    text-align: center;
  }
}

/* Large devices (laptops, desktops, screens > 700px) */
@media only screen and (min-width: 701px) {
  .projectdetail-item_image-link:hover {
    /* border: 1px black solid; */
    cursor: pointer;
    transform: scale(1.1);
  }

  /* potential for color-transform below */

  /* .projectdetail-item_image-link img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }

  .projectdetail-item_image-link img:hover {
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
  } */

  .projectdetail-item_site {
    width: 20vw;
    height: 5vh;
    text-align: center;
    font-size: 1.25em;
    color: var(--blue);
  }
  .projectdetail-item_image {
    height: 15vh;
    text-align: center;
  }
  .projectdetail-item_site:hover {
    font-size: 1.75em;
  }
}
