.projectdetail {
  margin: 5px;
}

.projectdetail-item {
  width: 40vw;
  height: 60vh;
  background-color: var(--orange);
  padding: 10px;
}

.projectdetail-item_image {
  height: 10vh;
}

.projectdetail-item-links {
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
