@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

/* font-family: 'Montserrat', sans-serif; */
* {
  --orange: #d0826f;
  --blue: #263547;
  --white: #ffffff;
}

body,
html {
  margin: 0;
}
.App {
  /* background-color: #fafafa; */
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}
